<section class="o-block block-2-col row align-items-center">
  <aside class="m-image-block col-12 col-md-6 order-1 order-md-2">
    <figure class="m-image scalable">
      <img class="a-image" src="../../dist/images/content/colt-2-1/image-four.jpg" alt="challenges" />
    </figure>
  </aside>
  <aside class="m-text-block col-12 col-md-6 order-2 order-md-1">
    <span class="m-text-wrapper">
      <h3 class="a-block-title">YOU'VE GOT SUPPORT</h3>
      <p>
        Remember that you're not alone in your first week. HR is your partner and, while you’re getting to know your colleagues, let them answer any questions you might have and introduce you to the right people.
      </p>
    </span>
  </aside>
</section>