<section class="o-block block-2-col color-block row align-items-center">
  <aside class="m-image-block col-12 col-md-6 order-1 order-md-2 d-none d-md-flex">
    <figure class="m-image scalable">
    </figure>
  </aside>
  <aside class="m-text-block col-12 col-md-6 order-2 order-md-1">
    <span class="m-text-wrapper">
      <h3 class="a-block-title">HEADER</h3>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit.
      </p>
      <p>
        Aut esse est fugiat harum illo impedit in repudiandae suscipit totam vel! Architecto beatae cum enim id magnam maxime tenetur unde velit.
      </p>
    </span>
  </aside>
</section>