<section class="o-block block-2-col color-block row align-items-center">
  <aside class="m-image-block col-12 col-md-6 order-1 order-md-2 d-none d-md-flex">
    <figure class="m-image scalable">
    </figure>
  </aside>
  <aside class="m-text-block col-12 col-md-6 order-2 order-md-1">
    <span class="m-text-wrapper">
      <h3 class="a-block-title">KNOW WHERE THE KITCHEN IS</h3>
    <p>
      This helps you to feel like you belong. Also consider offering to get coffee or tea on behalf of a colleague or your Line Manager. Use this as a chance to show them that you are part of the team.
</p>
    </span>
  </aside>
</section>