<section class="o-block block-2-col row align-items-center">
  <aside class="m-image-block col-12 col-md-6">
    <figure class="m-image scalable">
      <img class="a-image" src="http://ttro-skeleton.co.za/colt/dist/images/content/colt-2-1/image-one.jpg" alt="challenges" />
    </figure>
  </aside>
  <aside class="m-text-block col-12 col-md-6">
    <span class="m-text-wrapper">
      <h3 class="a-block-title">YOUR FIRST WEEK</h3>
      <p>
        This week, try to balance the pressure and anxiety. It’s super exciting, although sometimes overwhelming, to meet your new colleagues, learn your new role, and find your way around the office. But, don’t sweat the small stuff and try to take in as much as you possibly can.
      </p>
    </span>
  </aside>
</section>