<section class="o-block hero-banner text-hero row">
  <figure class="m-image cropped">
    <img class="a-image" src="http://placehold.it/980x520?text=HERO IMAGE" alt="hero" />
  </figure>
  <aside class="m-text-block">
    <span class="m-text-wrapper">
      <h1 class="a-block-title a-accent-bottom">HEADER</h1>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur esse ipsam iure labore magni modi natus neque nulla quaerat qui reprehenderit temporibus totam, veritatis. At impedit in ipsam minus veniam.
      </p>
    </span>
  </aside>
</section>