<section class="o-block hero-banner text-hero row">
  <figure class="m-image cropped">
    <img class="a-image" src="http://ttro-skeleton.co.za/colt/dist/images/content/colt-2-1/top-hero-image.jpg" alt="hero" />
  </figure>
  <aside class="m-text-block">
    <span class="m-text-wrapper">
      <h1 class="a-block-title a-accent-bottom">I'M A COLTIE, NOW WHAT?</h1>
      <p>
        You had the interview; you got the job. Now it’s your first day at Colt. A million questions run through your mind. Will I make it? Will I be successful? What first impression will I give to my new colleagues?
      </p>
    </span>
  </aside>
</section>