<section class="o-block block-2-col row align-items-center">
  <aside class="m-image-block col-12 col-md-6 order-1 order-md-2">
    <figure class="m-image scalable">
      <img class="a-image" src="http://ttro-skeleton.co.za/colt/dist/images/content/colt-2-1/image-three.jpg" alt="challenges" />
    </figure>
  </aside>
  <aside class="m-text-block col-12 col-md-6 order-2 order-md-1">
    <span class="m-text-wrapper">
      <h3 class="a-block-title">GET TO KNOW YOUR COLT BUDDY</h3>
      <p>
        We give you a built-in colleague on your first day. They’re there for you, whatever you need. They have the knowledge to assist, guide and encourage you.
      </p>
    </span>
  </aside>
</section>