<section class="o-block block-2-col row align-items-center">
  <aside class="m-image-block col-12 col-md-6">
    <figure class="m-image scalable">
      <img class="a-image" src="http://ttro-skeleton.co.za/colt/dist/images/content/colt-2-1/image-two.jpg" alt="challenges" />
    </figure>
  </aside>
  <aside class="m-text-block col-12 col-md-6">
    <span class="m-text-wrapper">
      <h3 class="a-block-title">ASK QUESTIONS</h3>
      <p>
        … And lots of them. Ask your Line Manager, colleagues, or anyone else that can help you. You’ll not only get to know people better, but the more you learn, the sooner you’ll be familiar with things. Do this, and you’ll be running like a Coltie in no time.
      </p>
    </span>
  </aside>
</section>