<section class="o-block block-2-col color-block row align-items-center">
  <aside class="m-image-block col-12 col-md-6 order-1 order-md-2 d-none d-md-flex">
    <figure class="m-image scalable">
    </figure>
  </aside>
  <aside class="m-text-block col-12 col-md-6 order-2 order-md-1">
    <span class="m-text-wrapper">
      <h3 class="a-block-title">REMEMBER YOUR COLLEAGUE’S NAMES</h3>
    <p>
      We’ve all done this – we meet someone new, and immediately forget their name. According to Forbes, there’s a simple trick to avoid this: Meet and Repeat. When someone says their name, repeat it back to them.
    </p>
    <p>Magically, it will stay in your memory forever! Well, at least a little bit longer than usual.</p>
    <p>Click here for some awesome memory tips.</p>
    </span>
  </aside>
</section>