<section class="o-block features-block no-loop-carousel row">

  <div class="swiper-container no-loop">
    <div class="swiper-wrapper">

      <article class="card swiper-slide">
        <div class="o-card reason-card">
          <div class="m-card-body">
            <img class="a-image mb-3 mt-4" src="../../dist/images/content/colt-2-1/image--carousel-1.jpg" alt="benefit 1" />
            <p class="a-card-text">
              Make use of this Colt Excel platform to interact with other New Joiners and share your experiences.
            </p>
          </div>
        </div>
      </article>
      <article class="card swiper-slide">
        <div class="o-card reason-card">
          <div class="m-card-body">
            <img class="a-image mb-3 mt-4" src="../../dist/images/content/colt-2-1/image--carousel-2.jpg" alt="benefit 2" />
            <p class="a-card-text">
              You have access to an online library of summarised books and articles.
            </p>
          </div>
        </div>
      </article>
      <article class="card swiper-slide">
        <div class="o-card reason-card">
          <div class="m-card-body">
            <img class="a-image mb-3 mt-4" src="../../dist/images/content/colt-2-1/image--carousel-3.jpg" alt="benefit 3" />
            <p class="a-card-text">
              Set goals for yourself and keep track as you smash them!
            </p>
          </div>

        </div>
      </article>
    </div>

    <!-- If we need pagination -->
    <div class="swiper-pagination"></div>

    <!-- If we need navigation buttons -->
    <div class="swiper-button swiper-button-prev"></div>
    <div class="swiper-button swiper-button-next"></div>

  </div>


</section>