<section class="o-block hero-banner text-hero row">
  <figure class="m-image cropped">
    <img class="a-image" src="http://ttro-skeleton.co.za/colt/dist/images/content/colt-2-4/top-hero-image.jpg" alt="hero" />
  </figure>
  <aside class="m-text-block">
    <span class="m-text-wrapper">
      <h1 class="a-block-title">ENGAGE TO SUCCEED</h1>
      <p>
        It’s easy to know when an employee is engaged or not.</p>
      <p>
        If they’re engaged, their loyalty, commitment and motivation will be strong and visible in everything they do.
      </p>
    </span>
  </aside>
</section>