<section class="o-block block-2-col color-block row pt-3 pb-3">
  <aside class="m-text-block col-12 col-md-10 offset-md-1"> <span class="m-text-wrapper pt-5 pb-5 m-0">
      <h3 class="a-block-title">GOALS AND STRATEGIES</h3>
      <p>
        Make it a priority to know Colt’s strategic objectives and goals. Encourage your colleagues to contribute.
      </p>
      <p>
        When you know how your own work is contributing to and building Colt’s success, your engagement levels will strengthen.
      </p>
    </span>
  </aside>
</section>