<section class="o-block block-2-col color-block row align-items-center">
  <aside class="m-image-block col-12 col-md-6 order-1 order-md-2 d-none d-md-flex">
    <figure class="m-image scalable">
      <img class="a-image" src="http://ttro-skeleton.co.za/colt/dist/images/content/colt-2-4/image-two.jpg" alt="challenges" />
    </figure>
  </aside>
  <aside class="m-text-block col-12 col-md-6 order-2 order-md-1">
    <span class="m-text-wrapper">
      <h4 class="pb-3">HOW TO BE ENGAGED IN WHAT YOU DO, EVERY DAY</h4>
      <p class="mb-0">
        Be proactive.
      </p>
      <p class="mb-0">
        ------------------------------------
      </p>
      <p class="mb-0">
        Know your role and the goals expected of you.
      </p>
      <p class="mb-0">
        ------------------------------------
      </p>
      <p class="mb-0">
         Use your voice and speak up – give feedback through the available channels and ambassadors in your country.
      </p>
    </span>
  </aside>
</section>