<section class="o-block block-1-col row">
  <div class="m-text-block col-12 col-md-10 offset-md-1">
    <h2 class="p-0 m-0 pb-5 pt-5 text-uppercase">
      Engagement is the EMOTIONAL CONNECTION you have with your colleagues and your company.
    </h2>
    <p class="p-0 m-0 pb-3">
      Colties are happiest and most successful when their needs are met.
    </p>
    <p class="p-0 m-0 pb-3">
      It’s much easier for you as a Coltie to be productive and engaged when you know your work is valued and appreciated. Your natural hunger for recognition gets a super-charge of motivation when your loyalty and hard work are acknowledged, and you see your efforts contributing to Colt’s goals.
    </p>
    <p class="p-0 m-0">
      Your dedication and motivation to succeed consistently reconnects you to Colt.
    </p>
  </div>
</section>