<section class="o-block block-2-col color-block row align-items-center a-bg-blue">
  <aside class="m-image-block col-12 col-md-6 order-1 order-md-2 d-none d-md-flex">
    <figure class="m-image scalable">
      <img class="a-image" src="http://ttro-skeleton.co.za/colt/dist/images/content/colt-2-4/image-two.jpg" alt="challenges" />
    </figure>
  </aside>
  <aside class="m-text-block col-12 col-md-6 order-2 order-md-1">
    <span class="m-text-wrapper">
      <h4 class="pb-3 a-white">GOALS AND STRATEGIES</h4>
      <p class="a-white">
        Make it a priority to know Colt’s strategic objectives and goals. Encourage your colleagues to contribute.
      </p>
      <p class="a-white">
        When you know how your own work is contributing to and building Colt’s success, your engagement levels will strengthen.
      </p>
    </span>
  </aside>
</section>