<section class="o-block intro-block row">
  <aside class="m-text-block">
    <h2 class="a-block-title">Collaboration</h2>
    <h4 class="a-block-subheading">The action of two or more people working together, to produce or achieve something.
    </h4>
    <span class="a-block-text boxed-top">
      <p>
        We’ve all heard about it. Some do it more effectively than others. Some like working in their own bubble but, what we do know is that, strong collaboration enables creative problem-solving and greatly improves the products and services we offer our customers.
      </p>
      <p>
        For us Colties, working with colleagues from Canada to India, China and Spain is one of the many benefits of working at Colt. But for us to work effectively, across the globe, we need to make an effort to include our colleagues, even when it may seem difficult to do so.
      </p>
    </span>
  </aside>
  <aside class="m-image-block">
    <figure class="m-image cropped">
      <img class="a-image" src="../../dist/images/content/colt-1-1/image-one.jpg" alt="runner" />
    </figure>
  </aside>
</section>