<section class="o-block boost-block row">
  <h2 class="a-block-title">FACING CHALLENGES</h2>
  <aside class="m-image-block col-12 col-md-6">
    <figure class="m-image scalable">
      <img class="a-image" src="http://ttro-skeleton.co.za/colt/dist/images/content/colt-1-1/image-two.jpg" alt="challenges" />
    </figure>
  </aside>
  <aside class="m-text-block col-12 col-md-6">
    <span class="m-text-wrapper a-text-accent">
      <p>
        The first step towards improving your collaboration skills is being aware of the possible challenges, and what to do in those instances.
      </p>
      <p>
        Read through the section below, to learn about how to overcome some of the most common challenges.
      </p>
    </span>

  </aside>
  <p class="m-text-block footer-block a-text-accent">
    We all face challenges when it comes to collaborating, be aware of them and find out what to do when you are in these situations.
  </p>
</section>