<section class="o-block features-block row">

  <div class="swiper-container features-carousel">
    <div class="swiper-wrapper">

      <article class="card swiper-slide">
        <div class="o-card reason-card">
          <h4 class="m-card-title">NO DEFINED GOALS</h4>
          <div class="m-card-body">
            <p class="a-card-text">
              Collaborative efforts fail without defined goals.
            </p>
            <p class="a-card-text"><strong>What to do:</strong></p>
            <p class="a-card-text">
              Set project goals! These goals are the roadmap to successful collaboration and define the outline of who needs to be involved, and what skill sets and knowledge are needed. They also help to guide conversations and keep the focus on reaching
              objectives.
            </p>
          </div>
          <img class="a-image" src="http://ttro-skeleton.co.za/colt/dist/images/content/colt-1-1/image--carousel-1.jpg" alt="benefit 1" />
        </div>
      </article>

      <article class="card swiper-slide">
        <div class="o-card reason-card">
          <h4 class="m-card-title">GEOGRAPHICAL DISTANCE</h4>
          <div class="m-card-body">
            <p class="a-card-text">
              Distances between colleagues will negatively impact collaboration if you and your colleagues don’t get familiar with video conferencing technology or other virtual communication tools.
            </p>
            <p class="a-card-text"><strong>What to do:</strong></p>
            <p class="a-card-text">
              Know the tools available to you. In today’s global world where we work with colleagues both near and far, make sure you know how best to communicate with globally.
            </p>
          </div>
          <img class="a-image" src="http://ttro-skeleton.co.za/colt/dist/images/content/colt-1-1/image--carousel-2.jpg" alt="benefit 1" />
        </div>
      </article>

      <article class="card swiper-slide">
        <div class="o-card reason-card">
          <h4 class="m-card-title">COMPLACENCY</h4>
          <div class="m-card-body">
            <p class="a-card-text">
              Watch out for collaboration which can lead to complacency when team members don’t take ownership or accountability for their work and rely on others to make it work.
            </p>
            <p class="a-card-text"><strong>What to do:</strong></p>
            <p class="a-card-text">
              Even though you’re working with others, you must still take pride in your work, encourage your colleagues and aim to deliver products and services of the highest quality to our customers. When things go wrong, which they do, don’t blame others. rather accept responsibility as a group, including all your successes and failures.
            </p>
          </div>
          <img class="a-image" src="http://ttro-skeleton.co.za/colt/dist/images/content/colt-1-1/image--carousel-3.jpg" alt="benefit 1" />
        </div>
      </article>

      <article class="card swiper-slide">
        <div class="o-card reason-card">
          <h4 class="m-card-title">COMPETITIVE BEHAVIOUR</h4>
          <div class="m-card-body">
            <p class="a-card-text">
              Competitive, or ego-driven behaviour can block teams working together well.
            </p>
            <p class="a-card-text"><strong>What to do:</strong></p>
            <p class="a-card-text">
              Inspire everyone around you to share their knowledge and contribute to a culture of trust and openness. When this is in place, successful collaboration is inevitable. The whole group working together will have a more powerful impact than individuals working in isolation.
            </p>
          </div>
          <img class="a-image" src="http://ttro-skeleton.co.za/colt/dist/images/content/colt-1-1/image--carousel-4.jpg" alt="benefit 1" />
        </div>
      </article>

    </div>

  </div>

  <!-- If we need pagination -->
  <div class="swiper-pagination"></div>

  <!-- If we need navigation buttons -->
  <div class="swiper-button swiper-button-prev"></div>
  <div class="swiper-button swiper-button-next"></div>

</section>