<section class="o-block boost-block row">
  <h2 class="a-block-title">BOOST</h2>
  <aside class="m-image-block col-12 col-md-7">
    <figure class="m-image">
      <img class="a-image" src="http://placehold.it/720x580?text=RUNNER" alt="runner" />
    </figure>
  </aside>
  <aside class="m-text-block col-12 col-md-5">
    <span class="m-text-wrapper">
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci autem corporis quae rem! Consequuntur, iusto minima. Accusamus assumenda cupiditate dolores nesciunt nisi perspiciatis provident quidem repellendus voluptate. Ab, obcaecati ratione?
      </p>
    </span>

  </aside>
  <h3 class="m-text-block footer-block">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</h3>
</section>