<section class="o-block intro-block row">
  <aside class="m-text-block">
    <h2 class="a-block-title">ADIZERO</h2>
    <h4 class="a-block-subheading">ACHIEVE THE IMPOSSIBLE</h4>
    <span class="a-block-text boxed-top">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus assumenda at blanditiis consequuntur debitis dolore enim est libero</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus assumenda at blanditiis consequuntur debitis dolore enim est libero</p>
    </span>
  </aside>
  <aside class="m-image-block">
    <figure class="m-image">
      <img class="a-image" src="http://placehold.it/720x580?text=RUNNER" alt="runner" />
    </figure>
  </aside>
</section>