<section class="o-block features-block row">

  <div class="swiper-container images-carousel">
    <div class="swiper-wrapper">


      <article class="card swiper-slide">
        <div class="o-card reason-card">
          <div class="m-card-body">
            <img data-src="http://placehold.it/696x1168?text=model" alt="model" class="a-image swiper-lazy">
          </div>
        </div>
      </article>
      <article class="card swiper-slide">
        <div class="o-card reason-card">
          <div class="m-card-body">
            <img data-src="http://placehold.it/696x1168?text=model" alt="model" class="a-image swiper-lazy">
          </div>
        </div>
      </article>

    </div>

    <!-- If we need pagination -->
    <div class="swiper-pagination"></div>

    <!-- If we need navigation buttons -->
    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>

  </div>


</section>