<section class="o-block hero-banner text-hero row">
  <figure class="m-image cropped">
    <img class="a-image" src="http://ttro-skeleton.co.za/colt/dist/images/content/colt-2-2/top-hero-image.jpg" alt="hero" />
  </figure>
  <aside class="m-text-block">
    <span class="m-text-wrapper">
      <h1 class="a-block-title a-accent-bottom">YOUR COLTIE JOURNEY, BEYOND THE FIRST WEEK...</h1>
      <p>
        So, you’ve settled in at Colt and the basics have become familiar. As a new Coltie, you’re able to start focusing on getting up to speed with your role and responsibilities - you’re even able to put your experience, knowledge and skills to good use.
      </p>
    </span>
  </aside>
</section>