<section class="o-block block-1-col row">
  <div class="m-text-block centered-block">
    <h3 class="a-block-title a-accent-bottom">Your first month!</h3>
    <p class="p-0 m-0 pb-3">
      The first day at a new job can be difficult, and you have to find ways to fit in quickly, making a good impression is important.
      These practical steps and tips are here to help you through the first week of your Colt career.
    </p>
    <p class="p-0 m-0">
      Use them and be surprised at the ease of your transition! Here are some tips to help you along in your first week.
    </p>
  </div>
</section>