<section class="o-block block-2-col color-block row pt-3 pb-3">
  <aside class="m-text-block col-12 col-md-10 offset-md-1">
    <span class="m-text-wrapper pt-5 pb-5 m-0">
      <h3 class="a-block-title">KEEP ON KEEPING ON...</h3>
      <p>
        You know the team dynamics and you’re hopefully building new relationships and strong bonds with your colleagues.
      </p>
      <p>
        It’s now all up to you to establish yourself in the team and the company as a true Coltie. Show what you’re capable of and own your success.
      </p>
      <p>
        Keep your focus on:
      </p>
    </span>
  </aside>
</section>