<section class="o-block block-2-col row align-items-center">
  <aside class="m-image-block col-12 col-md-6">
    <figure class="m-image scalable">
      <img class="a-image" src="http://ttro-skeleton.co.za/colt/dist/images/content/colt-2-2/image-four.jpg" alt="challenges" />
    </figure>
  </aside>
  <aside class="m-text-block col-12 col-md-6">
    <span class="m-text-wrapper">
      <h3 class="a-block-title">ASSESSING AND ADJUSTING YOUR BOUNDARIES</h3>
      <p>
        You were probably flexible with your boundaries during your first few months. Now it’s time to reset them to give you more energy to do your best work.
      </p>
    </span>
  </aside>
</section>