<section class="o-block block-2-col color-block row pt-3 pb-3">
  <aside class="m-text-block col-12 col-md-10 offset-md-1">
    <span class="m-text-wrapper">
      <p class="pt-5 pb-5 m-0">
        As you start your Colt journey, three months might feel a long way off. But you’ll get through them before you know it and it will seem as if you’ve always been a Coltie. Remember, there are many great tools and resources on the Colt Excel platform that can help you on your journey. You can also interact with other Colties to share your experiences or to read about theirs. We are all here to help you to have the smoothest transition and to become a happy, successful Coltie!
      </p>
    </span>
  </aside>
</section>