<section class="o-block block-2-col color-block row align-items-center">
  <aside class="m-image-block col-12 col-md-6 order-1 order-md-2 d-none d-md-flex">
    <figure class="m-image scalable">
    </figure>
  </aside>
  <aside class="m-text-block col-12 col-md-6 order-2 order-md-1">
    <span class="m-text-wrapper">
      <h3 class="a-block-title">KEEP ON KEEPING ON...</h3>
      <p>
        You know the team dynamics and you’re hopefully building new relationships and strong bonds with your colleagues.
      </p>
      <p>
It’s now all up to you to establish yourself in the team and the company as a true Coltie. Show what you’re capable of and own your success. Focus on these things for success:
      </p>
    </span>
  </aside>
</section>