<section class="o-block reasons-block row no-gutters">
  <article class="card col-12 col-md-4">
    <div class="o-card reason-card">
      <h4 class="m-card-title">COHESION DESPITE DISTANCE</h4>
      <div class="m-card-body">
        <p class="a-card-text">
          It isn’t always easy to stay connected to your colleagues, or even know who to bring in when certain expertise
          is needed. Communication is your best tool at Colt, to aid collaboration. Communication in the form of emails,
          online chats, bridge or Webex meetings or even just a simple telephone call to check in with your colleagues
          can often give you a fresh perspective.
        </p>
      </div>
      <img class="a-image" src="../../dist/images/content/image--benefit-1.jpg" alt="benefit 1"/>
    </div>
  </article>
  <article class="card col-12 col-md-4">
    <div class="o-card reason-card">
      <h4 class="m-card-title">GLOBAL PRESENCE</h4>
      <div class="m-card-body">
        <p class="a-card-text">
          A global presence is a competitive advantage for Colt. Having offices and support in a wide range of countries
          allows us to target multinational companies, and build good customer relationships.
        </p>
      </div>
      <img class="a-image" src="../../dist/images/content/image--benefit-2.jpg" alt="benefit 2"/>
    </div>
  </article>
  <article class="card col-12 col-md-4">
    <div class="o-card reason-card">
      <h4 class="m-card-title">VALUE CREATION</h4>
      <div class="m-card-body">
        <p class="a-card-text">
          When you and your colleagues share your best practices, it aids the efficiency of the team and organisation as
          a whole. Better team decision-making is achieved through shared knowledge and experience, which in turn leads
          to saving costs, and streamlining
          processes and tasks.
        </p>
        <p class="a-card-text">
          To read more about building a collaborative advantage, read this article on the MITSloan Management Review
          website, which can be accessed <a
            href="https://sloanreview.mit.edu/article/how-to-build-collaborative-advantage/" target="_blank"
            class="a-text-link">here</a>.
        </p>
      </div>
      <img class="a-image" src="../../dist/images/content/image--benefit-3.jpg" alt="benefit 3"/>
    </div>
  </article>
</section>