<section class="o-block hero-banner text-hero row">
  <figure class="m-image cropped">
    <img class="a-image" src="http://ttro-skeleton.co.za/colt/dist/images/content/colt-3-1/top-hero-image.jpg" alt="hero" />
  </figure>
  <aside class="m-text-block">
    <span class="m-text-wrapper">
      <h1 class="a-block-title text-uppercase">The Differentiator for Success – COMMUNICATE EFFECTIVELY</h1>
      <p>
        It’s easy to tell your colleagues at work to communicate effectively.
      </p>
      <p>When they ask you how it is done, have these answers up your sleeve!</p>
    </span>
  </aside>
</section>