<section class="o-block block-2-col odd no-gutters row row-eq-height align-items-center">
  <aside class="m-image-block col-12 col-md-5">
    <figure class="m-image dropshadow-right scalable h-100">
      <img class="a-image" src="http://ttro-skeleton.co.za/colt/dist/images/content/colt-5-1/image-four.jpg" alt="image" />
    </figure>
  </aside>
  <aside class="m-text-block col-12 col-md-6 offset-md-1 h-100">
    <span class="m-text-wrapper pl-md-0">
      <h2 class="text-left">GETTING TO YES</h2>
      <p>
        <strong>How do you get to a YES outcome with your customers?</strong>
      </p>
      <p>
        Start by being curious. First find out everything that is available and can be offered to meet what they want.
      </p>
      <p>
        Price may not be the only negotiating tool you have. You may be able to offer a different service level or a longer-term contract.
      </p>
      <p>
        Either of these could be as valuable as price to both Colt and your customer.
      </p>
      <p>
        So, be sure to prepare well so that you know everything your customer would be interested in before you even start negotiating.
      </p>
      <p>
        Successful negotiators possess an equal amount of competitive and collaborative skills. Develop these skills to become more successful.
      </p>
    </span>
  </aside>
</section>