<section class="o-block features-block no-loop-carousel row">

  <div class="swiper-container no-loop">
    <div class="swiper-wrapper">

      <article class="card swiper-slide">
        <div class="o-card reason-card">
          <div class="m-card-body">
            <img class="a-image mb-3 mt-4" src="http://placehold.it/240x160" alt="image 1" />
            <p class="a-card-text">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            </p>
          </div>
        </div>
      </article>
      <article class="card swiper-slide">
        <div class="o-card reason-card">
          <div class="m-card-body">
            <img class="a-image mb-3 mt-4" src="http://placehold.it/240x160" alt="image 2" />
            <p class="a-card-text">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            </p>
          </div>
        </div>
      </article>
      <article class="card swiper-slide">
        <div class="o-card reason-card">
          <div class="m-card-body">
            <img class="a-image mb-3 mt-4" src="http://placehold.it/240x160" alt="image 3" />
            <p class="a-card-text">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            </p>
          </div>

        </div>
      </article>
    </div>

  </div>

  <!-- If we need pagination -->
  <div class="swiper-pagination"></div>

  <!-- If we need navigation buttons -->
  <div class="swiper-button swiper-button-prev"></div>
  <div class="swiper-button swiper-button-next"></div>

</section>