<section class="o-block block-2-col colours row align-items-center equal">
  <aside class="m-image-block col-12 col-md-5"></aside>
  <aside class="m-text-block col-12 col-md-7">
    <span class="m-text-wrapper">
      <h3 class="a-block-title p-0">THE PURPOSE OF GOOD COMMUNICATION</h3>
      <p>Mark Beeden (a Coltie expert) explains:</p>
      <p>Good communication is all about driving action. You’re trying to change thought processes, beliefs and behaviours so your communication needs to be aimed at communicating change.</p>
      <p>Before you start, you should know exactly what message you want to communicate so that your information and purpose is delivered as clearly as possible.</p>
    </span>
  </aside>
</section>