<section class="o-block features-block no-loop-carousel row">

  <div class="swiper-container no-loop">
    <div class="swiper-wrapper">

      <article class="card swiper-slide">
        <div class="o-card reason-card">
          <div class="m-card-body">
            <h3>STRUCTURE</h3>
            <p class="a-card-text">
              To structure your communication, be <strong>clear</strong> about the way, what and how of your message.
            </p>
          </div>
        </div>
      </article>
      <article class="card swiper-slide">
        <div class="o-card reason-card">
          <div class="m-card-body">
            <h3>PREPARATION</h3>
            <p class="a-card-text">
              <strong>Respect people’s time</strong> by being well-prepared for any conversations, meetings or discussions.
            </p>
          </div>
        </div>
      </article>
      <article class="card swiper-slide">
        <div class="o-card reason-card">
          <div class="m-card-body">
            <h3>AUTHENTICITY</h3>
            <p class="a-card-text">
              Create trust with the person receiving your message.
            </p>
            <p>
              Be true to who you are and how you communicate. Let the tone of your voice, your ability to listen and your responses show your sincerity.
            </p>
          </div>

        </div>
      </article>
    </div>

  </div>

  <!-- If we need pagination -->
  <div class="swiper-pagination"></div>

  <!-- If we need navigation buttons -->
  <div class="swiper-button swiper-button-prev"></div>
  <div class="swiper-button swiper-button-next"></div>

</section>