<section class="o-block block-1-col row pt-3">
  <div class="m-text-block p-3 pt-5">
    <h3 class="a-block-title">GOOD COMMUNICATION TIPS FROM THE MONROE MODEL</h3>

    <p>Use these five steps as a technique to organise your communication in
      a way that inspires people into action and allows for maximum impact from
      your message.</p>
    <p> <strong>1. Get Attention</strong>

      <br>Grab the attention of your audience. Use storytelling, humour, shock statistics
      or whatever it takes, but make sure they sit up and take notice.</p>
    <p> <strong>2. Establish the Need</strong>

      <br>Show your audience that there is a problem and that what is currently
      happening is no longer good enough. They need to make a change and take
      action.</p>
    <p> <strong>3. Satisfy the Need</strong>

      <br>Introduce your solution to your audience. Be sure to give specifics and
      workable solutions to your audience’s problem.</p>
    <p> <strong>4. Visualise the Future</strong>

      <br>This is where you describe to your audience what will happen if they follow
      your solution, or if they don’t and choose to do nothing. The closer you
      stick to reality, the easier it will be to motivate your audience to take
      action.</p>
    <p> <strong>5. Action</strong>

      <br>Lastly, make sure the audience has specific details of the actions they
      need to take to solve the problem.</p>
    <p> <strong>Click these links to learn more:</strong>

      <br> <a class="a-text-link a-med" href="http://changingminds.org/techniques/general/overall/monroe_sequence.htm">
        http://changingminds.org/techniques/general/overall/monroe_sequence.htm
      </a>

      <br> <a class="a-text-link a-med" href="https://www.mindtools.com/pages/article/MonroeMotivatedSequence.htm">
        https://www.mindtools.com/pages/article/MonroeMotivatedSequence.htm
      </a>

    </p>
  </div>
</section>