<section class="o-block block-2-col colours row align-items-center equal">
  <aside class="m-image-block col-12 col-md-5" style="background: red"></aside>
  <aside class="m-text-block col-12 col-md-7">
    <span class="m-text-wrapper">
      <h3 class="a-block-title a-accent-bottom">HEADER</h3>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus commodi consequatur corporis eos, esse et fugit incidunt iste laudantium magnam, molestias necessitatibus nemo numquam possimus sequi suscipit ullam ut voluptatum!
      </p>
    </span>
  </aside>
</section>