<section class="o-block block-2-col odd no-gutters row row-eq-height align-items-center pt-5">
  <aside class="m-image-block col-12 col-md-5 order-2 order-md-1">
    <figure class="m-image dropshadow-right scalable h-100">
      <img class="a-image" src="http://ttro-skeleton.co.za/colt/dist/images/content/colt-3-1/image-one.jpg" alt="image" />
    </figure>
  </aside>
  <aside class="m-text-block col-12 col-md-6 offset-md-1 h-100 order-1 order-md-2">
    <span class="m-text-wrapper pl-md-0">
      <h2 class="text-left">LIFE IS A NEGOTIATION</h2>
      <p>
        Everything we do, at work or at home, involves dancing with the skill of negotiation.
      </p>
      <p>
        Whether you’re walking down the street or driving in traffic, interacting with a colleague in the office or discussing pricing with a customer, you are negotiating.
      </p>
      <p>
        <strong>Negotiation influences everything </strong>so the better skilled you are at it, the more successful you will be.
      </p>
      <p>
        When two or more parties get together in discussion, they are each negotiating to find the best possible outcome to meet their different objectives.
      </p>
      <p>
        Different outcomes are always possible. Of course, the ideal is when both parties get exactly what they want, although this isn’t always possible.
      </p>
      <p>
        So, what are the different possible outcomes?
      </p>
    </span>
  </aside>
</section>

<section class="o-block block-2-col no-gutters row align-items-center">
  <aside class="m-image-block col-12 col-md-5 offset-md-1 order-1 order-md-2">
    <figure class="m-image dropshadow-right scalable">
      <img class="a-image" src="http://ttro-skeleton.co.za/colt/dist/images/content/colt-3-1/image-two.jpg" alt="image" />
    </figure>
  </aside>
  <aside class="m-text-block col-12 col-md-6 order-2 order-md-1">
    <span class="m-text-wrapper">
      <h2 class="text-left">THE OUTCOMES</h2>
      <p>
        <strong>Negotiations can end in different ways.</strong>
      </p>
      <p>
        <strong>Win-Win:</strong><br/>
        The best outcome to any negotiation is a Win-Win outcome that is mutually beneficial. This happens when both sides gain from the discussions and walk away satisfied.
      </p>
      <p>
        <strong>Win-Lose:</strong><br/>
        When your negotiation ends and you feel satisfied but the other is unhappy with the outcome – that side is left feeling as though they've lost out.
      </p>
      <p>
        <strong>Lose-Win:</strong><br/>
        When the outcome is reversed and you feel unsatisfied but the other is happy with the outcome – you feel as though you’ve lost out.
      </p>
      <p>
        <strong>Lose-Lose:</strong><br/>
        When neither side ends up getting what they wanted or hoped to achieve, and both feel dissatisfied by the outcome.
      </p>
    </span>
  </aside>
</section>














