<section class="o-block carousel-block tips-block row mt-5">

  <div class="swiper-container tips-carousel">
    <div class="swiper-wrapper">

      <article class="card swiper-slide">
        <div class="o-card reason-card">
          <h4 class="m-card-title no-border">1. GET ATTENTION</h4>
          <div class="m-card-body">
            <img class="a-image mb-3" src="http://ttro-skeleton.co.za/colt/dist/images/content/colt-5-1/image--carousel-1.jpg" alt="benefit 1" />
            <p class="a-card-text">
              Grab the attention of your audience. Use storytelling, humour, shock statistics or whatever it takes, but make sure they sit up and take notice.
            </p>
          </div>
        </div>
      </article>

      <article class="card swiper-slide">
        <div class="o-card reason-card">
          <h4 class="m-card-title no-border">2. ESTABLISH THE NEED</h4>
          <div class="m-card-body">
            <img class="a-image mb-3" src="http://ttro-skeleton.co.za/colt/dist/images/content/colt-5-1/image--carousel-2.jpg" alt="benefit 2" />
            <p class="a-card-text">
              Show your audience that there is a problem and that what is currently happening is no longer good enough. They need to make a change and take action.
            </p>
          </div>
        </div>
      </article>

      <article class="card swiper-slide">
        <div class="o-card reason-card">
          <h4 class="m-card-title no-border">3. SATISFY THE NEED</h4>
          <div class="m-card-body">
            <img class="a-image mb-3" src="http://ttro-skeleton.co.za/colt/dist/images/content/colt-5-1/image--carousel-3.jpg" alt="benefit 3" />
            <p class="a-card-text">
              Introduce your solution to your audience. Be sure to give specifics and workable solutions to your audience’s problem.
            </p>
          </div>
        </div>
      </article>

      <article class="card swiper-slide">
        <div class="o-card reason-card">
          <h4 class="m-card-title no-border">4. VISUALISE THE FUTURE</h4>
          <div class="m-card-body">
            <img class="a-image mb-3" src="http://ttro-skeleton.co.za/colt/dist/images/content/colt-5-1/image--carousel-4.jpg" alt="benefit 3" />
            <p class="a-card-text">
              This is where you describe to your audience what will happen if they follow your solution, or if they don’t and choose to do nothing. The closer you stick to reality, the easier it will be to motivate your audience to take action.
            </p>
          </div>
        </div>
      </article>

      <article class="card swiper-slide">
        <div class="o-card reason-card">
          <h4 class="m-card-title no-border">5. ACTION</h4>
          <div class="m-card-body">
            <img class="a-image mb-3" src="http://ttro-skeleton.co.za/colt/dist/images/content/colt-5-1/image--carousel-5.jpg" alt="benefit 3" />
            <p class="a-card-text">
              Lastly, make sure the audience has specific details  of the actions they need to take to solve the problem.
            </p>
          </div>
        </div>
      </article>

    </div>

  </div>

  <!-- If we need pagination -->
  <div class="swiper-pagination-2"></div>

  <!-- If we need navigation buttons -->
  <div class="swiper-button swiper-button-prev-2"></div>
  <div class="swiper-button swiper-button-next-2"></div>

</section>