<section class="o-block block-2-col color-block row align-items-center">
  <aside class="m-image-block col-12 col-md-5 order-1 order-md-2">
    <figure class="m-image scalable a-bg-red"></figure>
  </aside>
  <aside class="m-text-block col-12 col-md-7 order-2 order-md-1">
    <span class="m-text-wrapper">
      <h3 class="a-block-title a-accent-bottom text-left">HEADER</h3>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate, fugit id ipsum molestias officia recusandae. Aspernatur beatae deleniti et, eveniet explicabo facilis ipsam nesciunt nisi reiciendis rerum saepe sequi temporibus.
      </p>
    </span>
  </aside>
</section>