<section class="o-block block-1-col row pt-3">
  <div class="m-text-block p-3 pb-5">

    <p> <strong>Click these links to learn more:</strong>

      <br> <a class="a-text-link a-med" href="http://changingminds.org/techniques/general/overall/monroe_sequence.htm">
        http://changingminds.org/techniques/general/overall/monroe_sequence.htm
      </a>

      <br> <a class="a-text-link a-med" href="https://www.mindtools.com/pages/article/MonroeMotivatedSequence.htm">
        https://www.mindtools.com/pages/article/MonroeMotivatedSequence.htm
      </a>

    </p>
    
  </div>
</section>