<section class="o-block block-2-col color-block row align-items-center mt-0 mt-md-5 mb-5">
  <aside class="m-image-block col-12 col-md-5 order-2 order-md-2">
    <div class="m-video scalable">
      <video width="100%" height="100%" controls>
        <source src="movie.mp4" type="video/mp4">
        <source src="movie.ogg" type="video/ogg">
        Your browser does not support the video tag.
      </video>
    </div>
  </aside>
  <aside class="m-text-block col-12 col-md-6 order-1 order-md-1">
    <span class="m-text-wrapper pb-3 pb-sm-0 pt-3 pt-sm-0">
      <h3 class="a-block-title text-left">HEADER</h3>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate, fugit id ipsum molestias officia recusandae. Aspernatur beatae deleniti et, eveniet explicabo facilis ipsam nesciunt nisi reiciendis rerum saepe sequi temporibus.
      </p>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate, fugit id ipsum molestias officia recusandae. Aspernatur beatae deleniti et, eveniet explicabo facilis ipsam nesciunt nisi reiciendis rerum saepe sequi temporibus.
      </p>
    </span>
  </aside>
</section>