<section class="o-block block-2-col odd no-gutters row row-eq-height align-items-center">
  <aside class="m-image-block col-12 col-md-4">
    <figure class="m-image dropshadow-right scalable h-100">
      <img class="a-image" src="http://www.placehold.it/240x165" alt="image" />
    </figure>
  </aside>
  <aside class="m-text-block col-12 col-md-6 offset-md-1 h-100">
    <span class="m-text-wrapper pl-md-0">
      <h3 class="a-block-title text-left a-accent-bottom">HEADER</h3>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate, fugit id ipsum molestias officia recusandae. Aspernatur beatae deleniti et, eveniet explicabo facilis ipsam nesciunt nisi reiciendis rerum saepe sequi temporibus.
      </p>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate, fugit id ipsum molestias officia recusandae. Aspernatur beatae deleniti et, eveniet explicabo facilis ipsam nesciunt nisi reiciendis rerum saepe sequi temporibus.
      </p>
    </span>
  </aside>
</section>

<section class="o-block block-2-col no-gutters row align-items-center">
  <aside class="m-image-block col-12 col-md-4 order-1 order-md-2">
    <figure class="m-image dropshadow-right scalable">
      <img class="a-image" src="http://www.placehold.it/240x165" alt="image" />
    </figure>
  </aside>
  <aside class="m-text-block col-12 col-md-5 order-2 order-md-1">
    <span class="m-text-wrapper">
      <h3 class="a-block-title text-left a-accent-bottom">HEADER</h3>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate, fugit id ipsum molestias officia recusandae. Aspernatur beatae deleniti et, eveniet explicabo facilis ipsam nesciunt nisi reiciendis rerum saepe sequi temporibus.
      </p>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate, fugit id ipsum molestias officia recusandae. Aspernatur beatae deleniti et, eveniet explicabo facilis ipsam nesciunt nisi reiciendis rerum saepe sequi temporibus.
      </p>
    </span>
  </aside>
</section>