<section class="o-block block-2-col color-block row align-items-center">
  <aside class="m-image-block col-12 col-md-6 order-1 order-md-2 d-none d-md-flex">
    <figure class="m-image scalable">
    </figure>
  </aside>
  <aside class="m-text-block col-12 col-md-6 order-2 order-md-1">
    <span class="m-text-wrapper">
      <h3 class="a-block-title">THE SECOND STEP</h3>
      <p>
        <strong>The second step is adjusting from a fixed mindset to a growth mindset.</strong>
        With a growth mindset, though, you are able to willingly embrace change and allow learning and development to become positive influences in your life. You see your skills, abilities and creativity as dynamic and fluid. This means that you can accept failure as a springboard to learn from, and an entry point into greater personal development and improvement.
      </p>
    </span>
  </aside>
</section>