<section class="o-block block-1-col row">
  <div class="m-text-block centered-block a-accent-top">
    <p class="p-0 m-0 pb-3">
      No matter when or where your journey starts on the path to continual learning, choosing to say 'yes' to learning is your key to owning a fulfilling personal development journey.
    </p>
    <p class="p-0 m-0">
      Two questions to ask yourself are: 'How can I become a lifelong learner?' and 'What skills do I need to start my personal development journey?'
    </p>
  </div>
</section>