<section class="o-block block-2-col row align-items-center">
  <aside class="m-image-block col-12 col-md-6">
    <figure class="m-image scalable">
      <img class="a-image" src="http://ttro-skeleton.co.za/colt/dist/images/content/colt-2-3/image-two.jpg" alt="challenges" />
    </figure>
  </aside>
  <aside class="m-text-block col-12 col-md-6">
    <span class="m-text-wrapper">
      <h3 class="a-block-title">BECOME A LIFELONG LEARNER</h3>
      <p>
        Choosing to embrace a growth mindset as a basic belief gives you the power to become a lifelong learner. It puts the title deeds for ownership of your personal development journey into your own hands and becomes your blueprint to personal mastery.
      </p>
      <p>
        Turn yourself into a personal-mastery guru by power-boosting your personal development journey.
      </p>
      <p>Here are some tools to help you focus on how you behave:</p>
    </span>
  </aside>
</section>