<section class="o-block block-1-col row">
  <div class="m-text-block centered-block a-accent-top">
    <p class="p-0 m-0 pb-3">
      No matter when or where your journey on the path to continuous learning starts, choosing to say yes to learning is your key to owning a fulfilling personal development journey.
    </p>
    <p class="p-0 m-0">
      Two questions to ask yourself are how you can become a lifelong learner and what skills do you need to start your personal development journey?
    </p>
  </div>
</section>