<section class="o-block block-2-col row align-items-center mt-5">
  <aside class="m-image-block col-12 col-md-6">
    <figure class="m-image scalable">
      <img class="a-image" src="http://ttro-skeleton.co.za/colt/dist/images/content/colt-2-3/image-one.jpg" alt="challenges" />
    </figure>
  </aside>
  <aside class="m-text-block col-12 col-md-6">
    <span class="m-text-wrapper">
      <h3 class="a-block-title">FIRST</h3>
      <p>
        <strong>Realise that your mental attitude towards growth has to change.</strong>
        When you assume your abilities, skills and intelligence are set and can’t be changed, you have a fixed mindset. If you hold onto the belief that there is nothing more to learn and that you can’t change, your view of success becomes narrow and limited. You focus on avoiding failure as much as possible and end up losing your ability to reach your full potential.
      </p>
    </span>
  </aside>
</section>