<section class="o-block features-block row mt-5">

  <div class="swiper-container features-carousel">
    <div class="swiper-wrapper">

      <article class="card swiper-slide">
        <div class="o-card reason-card">
          <h4 class="m-card-title no-border">1. BE READY, WILLING AND SELF-AWARE</h4>
          <div class="m-card-body">
            <img class="a-image mb-3" src="http://ttro-skeleton.co.za/colt/dist/images/content/colt-2-3/image--carousel-1.svg" alt="benefit 1" />
            <p class="a-card-text">
              Always be ready and willing to make a change. Take ownership of your self-coaching and use your emotional intelligence (EQ) wisely as you communicate your own emotions and deal with the emotional reactions of others around you.
            </p>
          </div>
        </div>
      </article>

      <article class="card swiper-slide">
        <div class="o-card reason-card">
          <h4 class="m-card-title no-border">2. IDENTIFY YOUR SPECIFIC INTENTION</h4>
          <div class="m-card-body">
            <img class="a-image mb-3" src="http://ttro-skeleton.co.za/colt/dist/images/content/colt-2-3/image--carousel-2.svg" alt="benefit 2" />
            <p class="a-card-text">
              Choose a specific behaviour that you want to change, then think about ‘how’ you are going to change it.
            </p>
          </div>
        </div>
      </article>

      <article class="card swiper-slide">
        <div class="o-card reason-card">
          <h4 class="m-card-title no-border">3. ASK FOR HELP</h4>
          <div class="m-card-body">
            <img class="a-image mb-3" src="http://ttro-skeleton.co.za/colt/dist/images/content/colt-2-3/image--carousel-3.svg" alt="benefit 3" />
            <p class="a-card-text">
              Handpick a mentor and people to form your ‘circle of support’ – they will guide and help you. Remember, being able to recognise and admit you need help is an important part of your personal development journey. Don’t waste time doing the wrong thing!
            </p>
          </div>
        </div>
      </article>

      <article class="card swiper-slide">
        <div class="o-card reason-card">
          <h4 class="m-card-title no-border">4. GET THEIR FEEDBACK</h4>
          <div class="m-card-body">
            <img class="a-image mb-3" src="http://ttro-skeleton.co.za/colt/dist/images/content/colt-2-3/image--carousel-4.svg" alt="benefit 3" />
            <p class="a-card-text">
              Ask your circle of support for their objective feedback about your behaviour.
            </p>
          </div>
        </div>
      </article>

      <article class="card swiper-slide">
        <div class="o-card reason-card">
          <h4 class="m-card-title no-border">5. LEARN FROM THEIR FEEDBACK</h4>
          <div class="m-card-body">
            <img class="a-image mb-3" src="http://ttro-skeleton.co.za/colt/dist/images/content/colt-2-3/image--carousel-5.svg" alt="benefit 3" />
            <p class="a-card-text">
              Be resilient in your reactions as you assess the feedback you get. You trust your circle of support, so learn from it as part of your journey to become a self-mastery guru.
            </p>
          </div>
        </div>
      </article>

      <article class="card swiper-slide">
        <div class="o-card reason-card">
          <h4 class="m-card-title no-border">6. SO SOMETHING ABOUT IT</h4>
          <div class="m-card-body">
            <img class="a-image mb-3" src="http://ttro-skeleton.co.za/colt/dist/images/content/colt-2-3/image--carousel-6.svg" alt="benefit 3" />
            <p class="a-card-text">
              Use your circle of support’s feedback wisely. Plan how you’re going to transform your behaviour, then implement your plan. Prioritise and execute - that’s the key!
            </p>
          </div>
        </div>
      </article>

      <article class="card swiper-slide">
        <div class="o-card reason-card">
          <h4 class="m-card-title no-border">7. MONITOR AND MAINTAIN</h4>
          <div class="m-card-body">
            <img class="a-image mb-3" src="http://ttro-skeleton.co.za/colt/dist/images/content/colt-2-3/image--carousel-7.svg" alt="benefit 3" />
            <p class="a-card-text">
              Ask your circle of support for their objective feedback about your behaviour.
            </p>
          </div>
        </div>
      </article>

    </div>

    <!-- If we need pagination -->
    <div class="swiper-pagination"></div>

    <!-- If we need navigation buttons -->
    <div class="swiper-button swiper-button-prev"></div>
    <div class="swiper-button swiper-button-next"></div>

  </div>

</section>