<section class="o-block features-block row">

  <div class="swiper-container features-carousel">
    <div class="swiper-wrapper">

      <article class="card swiper-slide">
        <div class="o-card reason-card">
          <h4 class="m-card-title">'WOW' OUR CUSTOMERS</h4>
          <img class="a-image" src="http://ttro-skeleton.co.za/colt/dist/images/content/colt-1-2/image--carousel-1.svg" alt="Carousel 1" />
        </div>
      </article>

      <article class="card swiper-slide">
        <div class="o-card reason-card">
          <h4 class="m-card-title">SMASH OUR GOALS</h4>
          <img class="a-image" src="http://ttro-skeleton.co.za/colt/dist/images/content/colt-1-2/image--carousel-2.svg" alt="Carousel 2" />
        </div>
      </article>

      <article class="card swiper-slide">
        <div class="o-card reason-card">
          <h4 class="m-card-title">ACT COMMERCIAL</h4>
          <img class="a-image" src="http://ttro-skeleton.co.za/colt/dist/images/content/colt-1-2/image--carousel-3.svg" alt="Carousel 3" />
        </div>
      </article>

      <article class="card swiper-slide">
        <div class="o-card reason-card">
          <h4 class="m-card-title">LEAD THE WAY</h4>
          <img class="a-image" src="http://ttro-skeleton.co.za/colt/dist/images/content/colt-1-2/image--carousel-4.svg" alt="Carousel 4" />
        </div>
      </article>

      <article class="card swiper-slide">
        <div class="o-card reason-card">
          <h4 class="m-card-title">WIN TOGETHER</h4>
          <img class="a-image" src="http://ttro-skeleton.co.za/colt/dist/images/content/colt-1-2/image--carousel-5.svg" alt="Carousel 5" />
        </div>
      </article>

      <article class="card swiper-slide">
        <div class="o-card reason-card">
          <h4 class="m-card-title">SHAKE THINGS UP</h4>
          <img class="a-image" src="http://ttro-skeleton.co.za/colt/dist/images/content/colt-1-2/image--carousel-6.svg" alt="Carousel 6" />
        </div>
      </article>

      <article class="card swiper-slide">
        <div class="o-card reason-card">
          <h4 class="m-card-title">THINK BIG</h4>
          <img class="a-image" src="http://ttro-skeleton.co.za/colt/dist/images/content/colt-1-2/image--carousel-7.svg" alt="Carousel 7" />
        </div>
      </article>
    </div>


  </div>

  <!-- If we need pagination -->
  <div class="swiper-pagination"></div>

  <!-- If we need navigation buttons -->
  <div class="swiper-button swiper-button-prev"></div>
  <div class="swiper-button swiper-button-next"></div>

</section>