<section class="o-block block-1-col row">
  <div class="m-text-block centered-block">
    <p>
      Find your unique way of using these to be your authentic self. Set your intentions firmly on the success of Colt, your authenticity and voice will always contribute to our strength.
    </p>
    <p class="mb-0"><strong>How do you show us what you’ve got?</strong></p>
    <p>We know that everyone has something to offer and each person adds value. Take every opportunity available to make the most of what you can offer! </p>
    <p>Here are 3 useful steps to guide you:</p>
  </div>
</section>