<section class="o-block intro-block row">
  <aside class="m-text-block">
    <h2 class="a-block-title">YOU HAVE WHAT IT TAKES</h2>
    <span class="a-block-text">
      <p>
        We know you are a talented individual with plenty to offer. You joined Colt to contribute and to show us what you’ve got.
      </p>
      <p>
        Transformation and innovation are a fundamental part of Colt’s culture. At the core of this culture is a constant challenge to step-up and bring your best.
      </p>
      <p>
        We don’t only accept differences here, we celebrate them. We recognise the strength that comes from individuals.
      </p>
    </span>
  </aside>
  <aside class="m-image-block">
    <figure class="m-image cropped">
      <img class="a-image" src="http://ttro-skeleton.co.za/colt/dist/images/content/colt-1-2/image-one.jpg" alt="runner" />
    </figure>
  </aside>
</section>