<section class="o-block features-block row">

  <div class="swiper-container features-carousel">
  <div class="swiper-wrapper">

    <article class="card swiper-slide">
      <div class="o-card reason-card">
        <h4 class="m-card-title">
          TIP 1<br/>
          PAY ATTENTION TO HOW WE TREAT CUSTOMERS
        </h4>
        <div class="m-card-body">
          <p class="a-card-text">
            They are a priority at Colt, and the faster you learn how to engage with them, the sooner you’ll be able to do this
            yourself.
          </p>
          <p class="a-card-text">
            Remember: Customers are not just external. Colleagues and managers are internal
            customers.
          </p>
        </div>
        <img class="a-image" src="../../dist/images/content/colt-1-3/image--carousel-1.jpg" alt="Carousel 1" />
      </div>
    </article>

    <article class="card swiper-slide">
      <div class="o-card reason-card">
        <h4 class="m-card-title">
          TIP 2<br/>
          GET A FEEL FOR THE TEAM
        </h4>
        <div class="m-card-body">
          <p class="a-card-text">
            The way you relate to your colleagues will impact how well you work. Make an effort to engage with them, even in small ways (like grabbing them a coffee).
          </p>
        </div>
        <img class="a-image" src="../../dist/images/content/colt-1-3/image--carousel-2.jpg" alt="Carousel 2" />
      </div>
    </article>

    <article class="card swiper-slide">
      <div class="o-card reason-card">
        <h4 class="m-card-title">
          TIP 3<br/>
          THINK 'CHANGE'
        </h4>
        <div class="m-card-body">
          <p class="a-card-text">
            You’re still new, but that shouldn’t stop you from making notes on how you could use your fresh
            perspective and innovative touch. As soon as you’re ready, you’ll be able to start making a positive impact.
          </p>
        </div>
        <img class="a-image" src="../../dist/images/content/colt-1-3/image--carousel-3.jpg" alt="Carousel 3" />
      </div>
    </article>

    <article class="card swiper-slide">
      <div class="o-card reason-card">
        <h4 class="m-card-title">
          TIP 4<br/>
          Take note of how every action creates value at Colt.
        </h4>
        <div class="m-card-body">
          <p class="a-card-text">
            You’ve come across Colt’s success framework and now you need to get familiar it’s behaviours. As you get up and running, align the things you do with our bigger success picture.
          </p>
        </div>
        <img class="a-image" src="../../dist/images/content/colt-1-3/image--carousel-4.jpg" alt="Carousel 4" />
      </div>
    </article>

    <article class="card swiper-slide">
      <div class="o-card reason-card">
        <h4 class="m-card-title">
          TIP 5<br/>
          SET AN EXAMPLE
        </h4>
        <div class="m-card-body">
          <p class="a-card-text">
            Even if you’re not in a formal leadership role, you can lead those around you. During your first weeks, this may seem difficult, but it could be as simple as acting in a way that is proactive, honest and
            enthusiastic.
          </p>
        </div>
        <img class="a-image" src="../../dist/images/content/colt-1-3/image--carousel-5.jpg" alt="Carousel 5" />
      </div>
    </article>

    <article class="card swiper-slide">
      <div class="o-card reason-card">
        <h4 class="m-card-title">
          TIP 6<br/>
          IDEAS ARE IMPORTANT
        </h4>
        <div class="m-card-body">
          <p class="a-card-text">
            If you have a brainwave, mention it to peers or a
            manager. They will be able to tell you if there is a way it can be put into practice in the Colt context.
          </p>
        </div>
        <img class="a-image" src="../../dist/images/content/colt-1-3/image--carousel-6.jpg" alt="Carousel 6" />
      </div>
    </article>

    <article class="card swiper-slide">
      <div class="o-card reason-card">
        <h4 class="m-card-title">
          TIP 7<br/>
          GOAL-SETTING STARTS EARLY
        </h4>
        <div class="m-card-body">
          <p class="a-card-text">
            As you learn about Colt, you should plan your personal goals and figure out how they align with the company’s bigger goal. This will keep you on-track to achieve success.
          </p>
        </div>
        <img class="a-image" src="../../dist/images/content/colt-1-3/image--carousel-7.jpg" alt="Carousel 7" />
      </div>
    </article>

  </div>

    <!-- If we need pagination -->
    <div class="swiper-pagination"></div>

    <!-- If we need navigation buttons -->
    <div class="swiper-button swiper-button-prev"></div>
    <div class="swiper-button swiper-button-next"></div>

  </div>

</section>