<section class="o-block intro-block row">
  <aside class="m-text-block">
    <h2 class="a-block-title">READY, SET, GO!</h2>
    <span class="a-block-text boxed-top">
      <p>
        After being at Colt for a few days, you’ll start to feel more comfortable. Your onboarding journey will continue for a few months. How will you make the most of this experience?
      </p>
      <p>
        You could just go according to the onboarding structure, or you could take ownership of your experience.
      </p>
      <p>What’s the difference? In both cases you’ll be following process. But, if you take things into your own hands, you’ll also find yourself settling into the Colt culture a lot faster.</p>
    </span>
  </aside>
  <aside class="m-image-block">
    <figure class="m-image cropped">
      <img class="a-image" src="../../dist/images/content/colt-1-3/image-one.jpg" alt="runner" />
    </figure>
  </aside>
</section>