<!-- SECTION ------------------------------------------ -->
<section class="o-block block-2-col row align-items-center pt-0 pt-md-5 pb-5 mb-3 a-bg-green">
  <aside class="m-image-block col-12 col-md-6 order-1 order-md-2">
    <figure class="m-image scalable">
      <img class="a-image p-3" src="http://ttro-skeleton.co.za/colt/dist/images/content/colt-4-1/image-one.jpg" alt="image" />
    </figure>
  </aside>
  <aside class="m-text-block col-12 col-md-6 order-2 order-md-1">
    <span class="m-text-wrapper">
      <h3 class="a-block-title text-left mb-3 mt-md-0 a-white">CREATE AND RELATE</h3>
      <p class=" a-white">
        Healthy workplace relationships are very important at Colt. They are the foundation of the interpersonal skills and behaviours Colties need to understand each other through 'speaking the same language' — and, no, we don’t just mean English!
      </p>
    </span>
  </aside>
</section>

<!-- SECTION ------------------------------------------ -->
<section class="o-block block-2-col odd row align-items-center">
  <aside class="m-image-block col-12 col-md-6">
    <figure class="m-image scalable">
      <img class="a-image" src="http://ttro-skeleton.co.za/colt/dist/images/content/colt-4-1/image-two.jpg" alt="image" />
    </figure>
  </aside>
  <aside class="m-text-block col-12 col-md-6">
    <span class="m-text-wrapper">
      <h3 class="a-block-title text-left mb-3 mt-md-0">THE BUILDING BLOCKS</h3>
      <p class="p-0 m-0">
        The building blocks for healthy work relationships are:
      </p>
      <p class="p-0 m-0">
        Get to know your <strong>colleague’s role.</strong>
      </p>
      <p class="p-0 m-0">
        Understand how your roles <strong>interlink.</strong>
      </p>
      <p class="p-0 m-0 mb-5 mb-sm-0">
        <strong>Share</strong> information and ideas across the organisation.
      </p>
    </span>
  </aside>
</section>

<!-- SECTION ------------------------------------------ -->
<section class="o-block block-2-col row align-items-center">
  <aside class="m-image-block col-12 col-md-6 order-1 order-md-2">
    <figure class="m-image scalable">
      <img class="a-image" src="http://ttro-skeleton.co.za/colt/dist/images/content/colt-4-1/image-three.jpg" alt="image">
    </figure>
  </aside>
  <aside class="m-text-block col-12 col-md-6 order-2 order-md-1"> <span class="m-text-wrapper">
      <h3 class="a-block-title text-left mb-3 mt-md-0">THE KEY</h3>
      <p>
        The key lies in being able to communicate and interact effectively with your colleagues.
        When you are able not only to hear them clearly but also to interpret what they’re saying, you will be able to respond positively. An essential ingredient for doing this is being able to <strong>recognise your colleagues’ personality types.</strong>
      </p>
      <p class="mb-5 mb-sm-0">
        Have a look at the high-level descriptions of the four Merrill-Reid personality styles below. Try to identify the personality types of your team members.
      </p>
    </span>

  </aside>
</section>